*{
    font-family: 'Times New Roman', Times, serif;
     background-color: #0a192f;
  color: #ccd6f6; /* optional: makes text brighter */
  margin: 0; /* removes default margin */
  

}


.MyName {
    color: rgb(226, 232, 240);
    
    
    cursor: pointer;
    margin-left: 450px;
    margin-right: 30px;
    
    width: 250px;
    transition: color 1s , opacity 1s;

     
}

.MyName:hover{
    color: rgb(36, 77, 143);

}
.MyName:active {
    opacity: 0.7;
}


.Position{
     color: rgb(226, 232, 240);
    cursor: pointer;
    margin-left: 450px;
    margin-right: 30px;
    
    width: 300px;
    transition: color 1s , opacity 1s;
   
}

.Position:hover{
color: rgb(36, 77, 143);

}
.Position:active{
  opacity: 0.7;

}
.My-Bio{
     color: rgb(148, 163, 184);
     margin-left: 450px;
    margin-right: 30px;
margin-bottom: 80px;  
}


.Rightpart{
  font-size: 19px;
     
     margin-left: 10%;
    margin-right: 10%;
    
    
}

.Introduction1{
  color: #94A3B8;
  line-height: 30px;
  margin-bottom: 10px;
}

.Introduction2{
  color: #94A3B8;
line-height: 30px;
  margin-bottom: 10px;
}

.Introduction3{
  color: #94A3B8;
  line-height: 30px;
  margin-bottom: 10px; 
}

.Introduction4{
  color: #94A3B8;
line-height: 30px;
  margin-bottom: 10px; 

}
.Container{
    
 display: flex;
 gap: 0px;
 justify-content: center;
 margin-top: 45px;

}

/*.Github-Button img{

border-color: #0a192f;
border-style: solid;
height: 10px;
width: 10px;
margin-top: 70px;
margin-left: 300px;

}
*/
.Githublinkedin{
display: flex;
justify-content: center ;
gap: 10px;
margin-right: 40vw;
margin-left: 30vw;
 top: 30%;
position: fixed;
flex-direction: row;
z-index: 1000;

}


.Githublinkedin div a:hover i {
  color: #e2ebf0; /* change color on hover */
}
a i {
font-size: 30px;
/*margin:0 10px;*/
margin-left: 10px;
margin-top: 450px;
transition: transform 0.3s;

}

a i:hover {
transition: scale(1.3);

}
.LocalButtons{
font-size: 10px;
margin-left: 450px;
font-weight: bold ;
letter-spacing: 1.5px;
line-height: 40px;

}
.LocalButtons:hover{
color: #e2ebf0;

}

.FirstLocalButton:hover{
color: #e2ebf0;
  
}

.SecondLocalbutton:hover{
  color: #e2ebf0;
}
.ThirdLocalButton:hover{
  color: #e2ebf0;
}

.LocalButton {
  position: relative;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}

.LocalButtons::before {
  content: "";
  position: absolute;
  left: -20px;
  width: 20px;
  height: 2px;
  background-color: #e2ebf0;
  transition: width 0.3s ease;
}

.LocalButtons:hover::before {
  width: 40px;
}

.LocalButtons:hover {
  transform: translateX(20px); /* push the whole button */
}